awsebcli==3.14.3
botocore==1.10.67
cement==2.8.2
colorama==0.3.9
Django==2.1
docutils==0.14
jmespath==0.9.3
pathspec==0.5.5
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
semantic-version==2.5.0
six==1.11.0
tabulate==0.7.5
termcolor==1.1.0
